@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #3498db;
  --text-color: #2d3436;
  --lynx-white: #f5f6fa;
  --clouds-color: #ecf0f1;
  --dark-clouds-color: #7f8c8d;
  --vertical-rythm: 8px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--clouds-color);
}

html, body, header, main, section, div, p, h1, h2, h3, h4, a {
  padding: 0;
  margin: 0;
}

header {
  padding: var(--vertical-rythm);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > h1 {
  text-align: center;
  margin-bottom: var(--vertical-rythm);
}

.stories {
  padding: var(--vertical-rythm);
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--vertical-rythm);
  row-gap: var(--vertical-rythm);
}

.story {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: calc(var(--vertical-rythm)/2);
  background-color: var(--lynx-white);
  padding: calc(var(--vertical-rythm) * 2);
  border: 1px solid var(--dark-clouds-color);
  box-shadow: 2px 2px 4px 0px rgba(149,165,166,0.85);
}

.story--title {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: calc(var(--vertical-rythm)/2);
}

.story--author {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: calc(var(--vertical-rythm)/2);
}

.story--url {
  text-decoration: none;
  color: var(--primary-color);
}

.btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: calc(var(--vertical-rythm) * 2) var(--vertical-rythm);
  border-radius: calc(var(--vertical-rythm)/2);
  cursor: pointer;
  transition: 0.2s all;
}

.btn:hover {
  transform: scale(1.02);
}

.btn-primary {
  color: white;
  background-color: var(--primary-color);
}

@media screen and (min-width: 500px) {
  .stories {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  .stories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}